In [1]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv('train.csv')

In [4]:
data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [ ]:
data.drop(columns=['loan_id'],inplace=True)

In [ ]:
data

In [ ]:
data.columns

In [ ]:
data.columns=data.columns.str.strip()

In [ ]:
data.columns

In [ ]:
data

In [ ]:
data['Assets'] = data.residential_assets_value + data.commercial_assets_value + data.luxury_assets_value+data.bank_asset_value

In [ ]:
data

In [ ]:
data.drop(columns = ['residential_assets_value','commercial_assets_value' ,'luxury_assets_value','bank_asset_value'],inplace=True)

In [ ]:
data

In [ ]:
data.education.unique()

In [ ]:
def clean_data(st):
    st=st.strip()
    return st
clean_data('Graduate')

In [ ]:
data.isnull().sum()

In [ ]:
data

In [ ]:
clean_data('Graduate')

In [ ]:
data.eductaion=data.education.apply(clean_data)

In [ ]:
data.education.unique()

In [ ]:
data['education']=data['education'].replace([' Graduate', ' Not Graduate'],[1,0])

In [ ]:
data

In [ ]:
data.self_employed.unique()

In [ ]:
data.self_employed=data.self_employed.apply(clean_data)

In [ ]:
data.self_employed.unique()

In [ ]:
data.self_employed=data.self_employed.replace(['No', 'Yes'],[1,0])

In [ ]:
data

In [ ]:
data.loan_status.unique()

In [ ]:
data.loan_status=data.loan_status.apply(clean_data)

In [ ]:
data.loan_status.unique()

In [ ]:
data.loan_status=data.loan_status.replace(['Approved', 'Rejected'],[1,0])

In [ ]:
data

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
input_data=data.drop(columns=['loan_status'])
output_data=data['loan_status']

In [ ]:
input_data

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(input_data,output_data,test_size=0.2)

In [ ]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

In [ ]:
from  sklearn.preprocessing import StandardScaler

In [ ]:
scaler=StandardScaler()

In [ ]:
x_train_scaled=scaler.fit_transform(x_train)

In [ ]:
x_test_scaled=scaler.transform(x_test)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
model=LogisticRegression()

In [ ]:
model.fit(x_train_scaled,y_train)

In [ ]:
model.score(x_test_scaled,y_test)

In [ ]:
pred_data=pd.DataFrame([['2',	'1',	'1',	'9600000',	'29900000'	,'12'  ,	'778',	'50700000']],columns=['no_of_dependents' ,	'education',	'self_employed',	'income_annum',	'loan_amount' ,	'loan_term',	'cibil_score',	'Assets'])

In [ ]:
pred_data=scaler.transform(pred_data)

In [ ]:
model.predict(pred_data)

In [ ]:
import pickle as pk

In [ ]:
pk.dump(model,open('model.pkl','wb'))

In [ ]:
pk.dump(scaler,open('scaler.pkl','wb'))