# Loan Prediction using Machine Learning

### In this project, we will predict whether a customer will get the loan from bank or not.

Following Factors are:
1. Gender
2. Education
3. Marrital status
4. Loand Amount
5. Credit History
6. Account Balance
7. Property Area
8. Credit History
9. Dependants
10. Self Employment Status

There are more factors also, let see in this notebook

In [2]:
import pandas as pd
import numpy as np
import os
# os.chdir('')
data=pd.read_csv('./Loan_data/train.csv')
data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [3]:
## Pandas
## Numpy
## SKlearn
## Matplotlib

In [4]:
train=pd.read_csv('./Loan_Data/train.csv')
train.Loan_Status=train.Loan_Status.map({'Y':1,'N':0})

## Check the missing Values in data

In [5]:
train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

## Preprocessing on the data

In [19]:
#data = pd.concat([data, test], ignore_index=True)

# Loan_status=train.Loan_Status
# train.drop('Loan_Status',axis=1,inplace=True)
# test=pd.read_csv('./Loan_Data/test.csv')
# Loan_ID=test.Loan_ID
# data=train.append(test)
# data.head()

train = pd.read_csv('./Loan_Data/train.csv')

print("Columns in train DataFrame:", train.columns)

# Extract Loan_Status and drop it from train
if 'Loan_Status' in train.columns:
    Loan_status = train['Loan_Status']
    train.drop('Loan_Status', axis=1, inplace=True)
else:
    print("Loan_Status column is not found in the train DataFrame")


data = pd.concat([train, test], ignore_index=True)
data.head()



# Loan_status=train.Loan_Status
# train.drop('Loan_Status',axis=1,inplace=True)
# test=pd.read_csv('./Loan_Data/test.csv')
# Loan_ID=test.Loan_ID
# data=train.append(test)
# data.head()

Columns in train DataFrame: Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban

In [12]:
data.shape

(981, 12)

In [13]:
data.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,981.000000,981.000000,954.000000,961.000000,902.000000
mean,5179.795107,1601.916330,142.511530,342.201873,0.835920
std,5695.104533,2718.772806,77.421743,65.100602,0.370553
min,0.000000,0.000000,9.000000,6.000000,0.000000
25%,2875.000000,0.000000,100.000000,360.000000,1.000000
50%,3800.000000,1110.000000,126.000000,360.000000,1.000000
75%,5516.000000,2365.000000,162.000000,360.000000,1.000000
max,81000.000000,41667.000000,700.000000,480.000000,1.000000

In [14]:
data.isnull().sum()

Loan_ID               0
Gender               24
Married               3
Dependents           25
Education             0
Self_Employed        55
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           27
Loan_Amount_Term     20
Credit_History       79
Property_Area         0
dtype: int64

In [15]:
data.Dependents.dtypes

dtype('O')

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline 
corrmat=data.corr()
f,ax=plt.subplots(figsize=(9,9))
sns.heatmap(corrmat,vmax=.8,square=True)

## Label ENcode

In [ ]:
## Label encoding for gender
data.Gender=data.Gender.map({'Male':1,'Female':0})
data.Gender.value_counts()

In [ ]:
## Let's see correlations
import matplotlib.pyplot as plt

corrmat = train.drop('Loan_Status', axis=1).corr()
f, ax = plt.subplots(figsize=(9, 9))
sns.heatmap(corrmat, vmax=.8, square=True)
plt.show()

In [22]:
## Labelling 0 & 1 for Marrital status
data.Married=data.Married.map({'Yes':1,'No':0})

In [23]:
data.Married.value_counts()

Married
1.0    631
0.0    347
Name: count, dtype: int64

In [ ]:
## Labelling 0 & 1 for Dependents
data.Dependents=data.Dependents.map({'0':0,'1':1,'2':2,'3+':3})

In [ ]:
data.Dependents.value_counts()

In [ ]:
## Let's see correlations for it
corrmat=data.corr()
f,ax=plt.subplots(figsize=(9,9))
sns.heatmap(corrmat,vmax=.8,square=True)

In [ ]:
## Labelling 0 & 1 for Education Status
data.Education=data.Education.map({'Graduate':1,'Not Graduate':0})

In [ ]:
data.Education.value_counts()

In [ ]:
## Labelling 0 & 1 for Employment status
data.Self_Employed=data.Self_Employed.map({'Yes':1,'No':0})

In [ ]:
data.Self_Employed.value_counts()

In [ ]:
data.Property_Area.value_counts()

In [ ]:
## Labelling 0 & 1 for Property area
data.Property_Area=data.Property_Area.map({'Urban':2,'Rural':0,'Semiurban':1})

In [41]:
data.Property_Area.value_counts()

Property_Area
Semiurban    349
Urban        342
Rural        290
Name: count, dtype: int64

In [42]:
data.Dependents.dtypes

dtype('O')

In [44]:
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
cormat=data.corr()
f,ax=plt.subplots(figsize=(9,9))
sns.heatmap(corrmat,vmax=.8,square=True)

ValueError: could not convert string to float: 'LP001002'

In [43]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001002,Male,0.0,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban
1,LP001003,Male,1.0,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural
2,LP001005,Male,1.0,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban
3,LP001006,Male,1.0,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban
4,LP001008,Male,0.0,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban

In [45]:
data.Credit_History.size

981

## It's time to fill the missing values

In [46]:
data.Credit_History.fillna(np.random.randint(0,2),inplace=True)

In [47]:
data.isnull().sum()

Loan_ID               0
Gender               24
Married               3
Dependents           25
Education             0
Self_Employed        55
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           27
Loan_Amount_Term     20
Credit_History        0
Property_Area         0
dtype: int64

In [48]:
data.Married.fillna(np.random.randint(0,2),inplace=True)

In [49]:
data.isnull().sum()

Loan_ID               0
Gender               24
Married               0
Dependents           25
Education             0
Self_Employed        55
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           27
Loan_Amount_Term     20
Credit_History        0
Property_Area         0
dtype: int64

In [50]:
## Filling with median
data.LoanAmount.fillna(data.LoanAmount.median(),inplace=True)

In [51]:
## Filling with mean
data.Loan_Amount_Term.fillna(data.Loan_Amount_Term.mean(),inplace=True)

In [52]:
data.isnull().sum()

Loan_ID               0
Gender               24
Married               0
Dependents           25
Education             0
Self_Employed        55
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
dtype: int64

In [53]:
data.Gender.value_counts()

Gender
Male      775
Female    182
Name: count, dtype: int64

In [ ]:
## Filling Gender with random number between 0-2
from random import randint 
data.Gender.fillna(np.random.randint(0,2),inplace=True)

In [ ]:
data.Gender.value_counts()

In [ ]:
## Filling Dependents with median
data.Dependents.fillna(data.Dependents.median(),inplace=True)

In [ ]:
data.isnull().sum()

In [ ]:
corrmat=data.corr()
f,ax=plt.subplots(figsize=(9,9))
sns.heatmap(corrmat,vmax=.8,square=True)

In [ ]:
data.Self_Employed.fillna(np.random.randint(0,2),inplace=True)

In [ ]:
data.isnull().sum()

In [ ]:
data.head()

In [ ]:
## Dropping Loan ID from data, it's not useful
data.drop('Loan_ID',inplace=True,axis=1)

In [ ]:
data.isnull().sum()

In [ ]:
data.head()

## Split the Data into X & Y

In [54]:
train_X=data.iloc[:614,] ## all the data in X (Train set)
train_y=Loan_status  ## Loan status will be our Y

In [55]:
from sklearn.model_selection import train_test_split
train_X,test_X,train_y,test_y=train_test_split(train_X,train_y,random_state=0)

In [56]:
#sc_f = ['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term']
#sc_f = ['ApplicantIncome','CoapplicantIncome','LoanAmount']
train_X.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
46,LP001138,Male,1.0,1,Graduate,No,5649,0.0,44.0,360.0,1.0,Urban
272,LP001892,Male,0.0,0,Graduate,No,2833,1857.0,126.0,360.0,1.0,Rural
474,LP002524,Male,0.0,2,Graduate,No,5532,4648.0,162.0,360.0,1.0,Rural
382,LP002231,Female,0.0,0,Graduate,No,6000,0.0,156.0,360.0,1.0,Urban
283,LP001917,Female,0.0,0,Graduate,No,1811,1666.0,54.0,360.0,1.0,Urban

In [57]:
# train_X.head()

In [58]:
test_X.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
454,LP002453,Male,0.0,0,Graduate,Yes,7085,0.0,84.0,360.0,1.0,Semiurban
52,LP001164,Female,0.0,0,Graduate,No,4230,0.0,112.0,360.0,1.0,Semiurban
536,LP002734,Male,1.0,0,Graduate,No,6133,3906.0,324.0,360.0,1.0,Urban
469,LP002505,Male,1.0,0,Graduate,No,4333,2451.0,110.0,360.0,1.0,Urban
55,LP001194,Male,1.0,2,Graduate,No,2708,1167.0,97.0,360.0,1.0,Semiurban

## Using Different types of Machine Learning Model

In [59]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

## Fit the all ML Models

In [ ]:

models=[]
models.append(("Logistic Regression",LogisticRegression()))
models.append(("Decision Tree",DecisionTreeClassifier()))
models.append(("Linear Discriminant Analysis",LinearDiscriminantAnalysis()))
models.append(("Random Forest",RandomForestClassifier()))
models.append(("Support Vector Classifier",SVC()))
models.append(("K- Neirest Neighbour",KNeighborsClassifier()))
models.append(("Naive Bayes",GaussianNB()))

In [81]:
scoring='accuracy'

In [79]:
from sklearn.model_selection import KFold 
from sklearn.model_selection import cross_val_score
result=[]
names=[]
# model=[]

In [80]:
for name,model in models:
    kfold=KFold(n_splits=10,random_state=0)
    cv_result=cross_val_score(model,train_X,train_y,cv=kfold,scoring=scoring)
    result.append(cv_result)
    names.append(name)
    print(model)
    print("%s %f" % (name,cv_result.mean()))

In [78]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

LR=LogisticRegression()
LR.fit(train_X,train_y)
pred=LR.predict(test_X)
print("Model Accuracy:- ",accuracy_score(test_y,pred))
print(confusion_matrix(test_y,pred))
print(classification_report(test_y,pred))

# df[non_numeric_columns] = df[non_numeric_columns].apply(pd.to_numeric, errors='coerce')

ValueError: could not convert string to float: 'LP001138'

In [ ]:
print(pred)

In [ ]:
X_test=data.iloc[614:,] 
# X_test[sc_f]=SC.fit_transform(X_test[sc_f])

In [ ]:
X_test.head()

In [ ]:
prediction = LR.predict(X_test)

In [ ]:
print(prediction)

In [67]:
## TAken data from the dataset
t = LR.predict([[0.0,	0.0,	0.0,	1,	0.0,	1811,	1666.0,	54.0,	360.0,	1.0,	2]])

C:\Users\ask\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

AttributeError: 'LogisticRegression' object has no attribute 'coef_'

In [ ]:
print(t)

In [68]:
import pickle
# now you can save it to a file
file = './Model/ML_Model1.pkl'
with open(file, 'wb') as f:
    pickle.dump(svc, f)

NameError: name 'svc' is not defined

In [69]:
with open(file, 'rb') as f:
    k = pickle.load(f)

EOFError: Ran out of input

In [70]:
cy = k.predict([[0.0,	0.0,	0.0,	1,	0.0,	4230,	0.0,	112.0,	360.0,	1.0,	1]])
print(cy)

NameError: name 'k' is not defined